## **Dataset_Cleaning**

In [1]:
import pandas as pd
data1 = pd.read_csv(r"C:\Users\Sanjana\Downloads\values.csv")
data1

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,2,normal,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,1,normal,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,1,normal,160,3,1,0,0,201,0.0,0,54,163,0

In [2]:
import pandas as pd
data1 = pd.read_csv(r"C:\Users\Sanjana\Downloads\labels.csv")
data1

    patient_id  heart_disease_present
0       0z64un                      0
1       ryoo3j                      0
2       yt1s1x                      1
3       l2xjde                      1
4       oyt4ek                      0
..         ...                    ...
175     5qfar3                      1
176     2s2b1f                      1
177     nsd00i                      1
178     0xw93k                      0
179     2nx10r                      0

[180 rows x 2 columns]

In [3]:
import pandas as pd

# Load files
labels_path = r"C:\Users\Sanjana\Downloads\labels.csv"
values_path = r"C:\Users\Sanjana\Downloads\values.csv"

labels = pd.read_csv(labels_path)
values = pd.read_csv(values_path)

print("Labels Shape:", labels.shape)
print("Values Shape:", values.shape)

Labels Shape: (180, 2)
Values Shape: (180, 14)

In [4]:
#labels------

# Remove duplicate rows
labels_clean = labels.drop_duplicates()

# Strip column names
labels_clean.columns = labels_clean.columns.str.strip()

# Replace blank/whitespace with NaN
labels_clean.replace(r'^\s*$', pd.NA, regex=True, inplace=True)

In [5]:
#values----------
values_clean = values.drop_duplicates()
values_clean.columns = values_clean.columns.str.strip()
values_clean.replace(r'^\s*$', pd.NA, regex=True, inplace=True)

print("Basic cleaning complete!")

Basic cleaning complete!

In [6]:
# Change the key if needed
common_key = "patient_id"

merged_df = pd.merge(labels_clean, values_clean, on=common_key, how="inner")

print("Merged Shape:", merged_df.shape)
merged_df.head()

Merged Shape: (180, 15)

,patient_id,heart_disease_present,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,0,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,0,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,0,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [7]:
# Handle missing values
merged_df = merged_df.fillna(merged_df.median(numeric_only=True))

# For categorical columns
cat_cols = merged_df.select_dtypes(include=['object']).columns
merged_df[cat_cols] = merged_df[cat_cols].fillna("Unknown")

# Remove duplicates again (safety)
merged_df = merged_df.drop_duplicates()

# Reset index
merged_df.reset_index(drop=True, inplace=True)

print("Final cleaning done!")
merged_df.head()

Final cleaning done!

,patient_id,heart_disease_present,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,0,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,0,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,0,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [8]:
save_path = r"C:\Users\Sanjana\Downloads\final_cleaned.csv"
merged_df.to_csv(save_path, index=False)

print("File saved at:", save_path)

File saved at: C:\Users\Sanjana\Downloads\final_cleaned.csv

In [9]:
data1 = pd.read_csv(r"C:\Users\Sanjana\Downloads\final_cleaned.csv")
data1

,patient_id,heart_disease_present,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,0,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,0,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,0,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,5qfar3,1,2,reversible_defect,125,4,2,1,0,254,0.2,1,67,163,0
176,2s2b1f,1,2,normal,180,4,0,0,1,327,3.4,0,55,117,1
177,nsd00i,1,2,reversible_defect,125,3,0,0,0,309,1.8,1,64,131,1
178,0xw93k,0,1,normal,124,3,2,1,0,255,0.0,1,48,175,0
179,2nx10r,0,1,normal,160,3,1,0,0,201,0.0,0,54,163,0

## What the Dataset is About

This dataset contains clinical patient data used to predict whether a person has heart disease.  
It includes medical measurements such as blood pressure, cholesterol, ECG results, etc.

---

## Dataset Shapes

### A. values.csv
- Shape: (180 rows × 14 columns)
- Meaning:
  - 180 patients
  - 14 clinical measurement features

---

### B. labels.csv
- Shape: (180 rows × 2 columns)
- Meaning:
  - 180 patients
  - 2 label columns (usually Patient ID + target/diagnosis)

---

### C. Merged Dataset (After Combining Both Files)

The `values.csv` (14 features) was merged with `labels.csv` (2 columns):

- Total columns before cleaning:  
  **14 + 2 = 16 columns**

- One duplicate column (ID) was removed → leaving **15 clean columns**

### Final Cleaned Dataset Shape
✅ **Shape: (180 rows × 15 columns)**

### Meaning:
- 180 patients (rows)
- 15 total final features (clinical measurements + target label)